html , body
{
    height:100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Slackey'; 
}
#viewport
{
    background-color:#cdcdcd;
    background-image:-moz-linear-gradient(#bbb,#eee,#bbb);
    background-image:-webkit-linear-gradient(#bbb,#eee,#bbb);
    overflow:hidden;
    width: 100%;
    height: 100%;
    display:block;
}
#viewport.mobile
{
    position:absolute;
    top:0px;
    left:0px;
}
#viewport.tablet
{
    position:absolute;
    top:0px;
    left:0px;
}
#viewport.desktop
{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}
#container
{
    position:absolute;
    width: 320px;
    height: 340px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -160px;
}
#container h1
{
    
    font-size: large;
    text-align: center;
    color: white;
} 
#container #header
{
    text-align: center;
}
#container #header h1
{
    text-align: center;
    font: 26px Slackey;
    text-shadow:#000 0px 0px 1px , #000 0px 0px 1px;
}
#container #header h3
{
    color: #555;
    padding-bottom: 10px;
    text-shadow:rgba(255,255,255,0.6) 0px 1px 0px;
}

#container #buttons
{
    margin-top:3px;
}

#container #buttons #play 
{
    font-family: 'Slackey'; 
    position:absolute;
    bottom:10px;
    left:30px;
    right:30px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    border-radius:10px;
    background-size:auto 62px;
}

#container #loading
{
    display:block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background:#000;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding-top: 50px;
    color: white;
}
#loading #progressbar
{
    margin-top: 10px;
    background: black;
    border: 1px solid mediumaquamarine;
    width: 80%;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
}
#loading #progressbar #progress
{
    height: 100%;
    position: relative;
    width: 0%;
    left: 0;
    background: #77e0fb;
}

#container #reels
{
    display:block;
    position:relative;
    height: 180px;
    overflow: hidden;
    text-align: center;
    background:#000;
    border: 10px solid;
    border-color: #777 #999 #666 #999;
    border-radius:3px;
    -moz-box-shadow:#fff 0px 1px 0px;
}
#container #reels canvas
{
    width: 87px;
    height: 300px;
    position: relative;
    background: white;
    border: 2px solid gold;
}

#container #overlay 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    background-image: -moz-linear-gradient(#555,#fff,#fff,#555);
    background-image: -webkit-gradient(linear, 0 25%, 0 100%, from(grey), color-stop(0.5, white), to(grey));
    display: none;
}
#container #overlay #winline 
{	
    width: 100%;
    height: 5px;
    background: red;	
    position: relative;
    top: 50%;
}
#reels #results
{
    display: none;
    background: white;
    border: 3px solid gold;
    height: 120px;
    width: 250px;
    left: 20px;
    top: 15px;
    position: absolute;
    font-size: x-large;
}

#results #score {
    margin: 5px;
}

#results #score img {
    vertical-align: middle;
}


.button
{
    position:relative;
    display:block;
    text-align: center;
    color: #fff;
    box-shadow: inset rgba(255,255,255,0.15) 0px 1px 0px;
    border: 1px solid rgba(0,0,0,0.15);
    background-image: -moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
    background-position: 0px -1px;
    text-shadow:#000 0px 0px 1px;
    text-decoration: none;
}
.button.button-default
{
    background-image:-moz-linear-gradient(#77e0fb,#3f93ac);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#77e0fb), to(#3f93ac));
}
.button.button-default:hover
{
    background-image:-moz-linear-gradient(#ffd539,#af861e);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ffd539), to(#af861e));
    cursor:pointer;
}
.button.button-default:active
{
    background-image:-moz-linear-gradient(#ffb133,#b3671a);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ffb133), to(#b3671a));
}

#audio_debug {
    top: 60px;
    position: relative;
    text-align: center;
    padding: 10px;
}
